<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ResERP</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ResERP.styles.css" asp-append-version="true" />
</head>
<body style="background-color: #121212;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                @*Left Side: Logo, Navbar*@
                <div class="d-flex align-items-center">
                    <a class="navbar-brand fw-bold fs-2" asp-controller="Main" asp-action="Index">RES ERP</a>
                    <ul class="navbar-nav ms-3 gap-3">
                        @* Home Nav *@
                        <li class="nav-item">
                            <a class="nav-link text-white fs-4" asp-controller="Main" asp-action="Index">Home</a>
                        </li>

                        @*Branch Nav *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Branch
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Branch" asp-action="Index">Dashboard</a></li>
                                <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Branch" asp-action="AddBranch">Add New Branch</a></li>
                            </ul>
                        </li>

                        @*Employee Nav *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Employee
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Main" asp-action="Employee">Dashboard</a></li>
                                <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Employee" asp-action="AddEmployee">Add New Employee</a></li>
                            </ul>
                        </li>

                        @* Settings Nav *@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white fs-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Setting
                            </a>
                            <ul class="dropdown-menu bg-dark">
                                @*If user role is admin, show link or not!*@
                                @if (User.FindFirst("Role").Value == "Admin")
                                {
                                    <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Main" asp-action="UserList">User List</a></li>
                                    <li><a class="dropdown-item text-white bg-dark" style="height: 50px; line-height: 50px;" asp-controller="Main" asp-action="AddNewUser">Add New User</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

                @*Right Side: User Info, Sign Out *@ 
                <div class="ms-auto d-flex align-items-center">
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <div class="text-white me-3 text-end">
                            <div class="fw-bold">@User.Identity?.Name</div>
                            <div class="fw-bold">@User.FindFirst("Email")?.Value</div>
                        </div>

                        <a class="btn btn-lg bg-danger text-white fw-bold" asp-controller="Auth" asp-action="SignOut">SignOut</a>
                    }
                </div>
            </div>
        </nav>

    </header>

    @RenderBody()

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
