@{
    ViewData["Title"] = "Payroll | ERP";

    //View Data
    var memberList = ViewData["MemberList"] as List<BranchMember>;
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
    @* Page Title *@
    <h1 class="text-white fw-bold mb-5">Member Payroll</h1>
    <div class="container-fluid w-50">
        @* Row 1 *@
        <div class="row">
            <div class="col-4">
                <label class="text-white mb-2 fs-5">Select Employee</label>
                <select name="id" class="form-select form-select mb-3">
                    <option value="" disabled selected>Select Employee</option>
                    @foreach (var members in memberList)
                    {
                        <option value="@members.MemberID">
                            @members.FullName
                        </option>
                    }
                </select>
            </div>
        </div>

    </div>
</div>